<app-header></app-header>

<div class="cardxd card-bodyxd blur shadow-blur mx-3 mx-md-4 mt-n6">
    <div class="container">
        <div class="py-4">
            <div class="card fondo">
                <h1 class="text-center text-white">ARTICULOS</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4 ">
            <div class="col">
                <div class="card h-100 ">
                    <img height="200px" src="/assets/categorias/enlatados/atun.jfif" class="card-img-top card-img-top zoom" alt="atun">
                    <div class="card-body ">
                        <h5 class="card-title">Atun</h5>
                        <p class="card-text">Descripcion: 220g</p>
                        
                        <p><strong>Precio: $12</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
           
            <div class="col">
                <div class="card h-100">
                    <img  height="200px" src="/assets/categorias/enlatados/chile2.jpg"  alt="chile" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">La costeña rajas</h5>
                        <p class="card-text">Descripcion: 120g</p>
                        <p><strong>Precio: $14</strong></p>
                    </div>
                    <div class="card-footer">
                        <a (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img  img height="200px" src="/assets/categorias/detergente/ace.jfif"  alt="jabon ace" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">Ace</h5>
                        <p class="card-text">Descripcion: 500g</p>
                        <p><strong>Precio: $15</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img  height="200px" src="/assets/categorias/detergente/blanca.jfif"  alt="jabon blanca" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">Blanca Nieves</h5>
                        <p class="card-text">Descripcion: 500g</p>
                        <p><strong>Precio: $12</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/bebidas/coca.jfif" class="card-img-top card-img-top zoom" alt="coca cola">
                    <div class="card-body">
                        <h5 class="card-title">Coca Cola</h5>
                        <p class="card-text">Descripcion: 600ml</p>
                        <p><strong>Precio: $15</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>