
  .banner-image {
    background-image: url("https://previews.123rf.com/images/gurza/gurza1902/gurza190200019/124846791-tienda-de-productos-org%C3%A1nicos-supermercado-ilustraci%C3%B3n-vectorial.jpg");
    background-size: cover;
    opacity: 0.9;
    filter: alpha(opacity=50);
    zoom: 1;
  }
    
  