<app-header></app-header>

<div class="cardxd card-bodyxd blur shadow-blur mx-3 mx-md-4 mt-n6">
    <div class="container">
        <div class="py-4">
            <div class="card fondo">
                <h1 class="text-center text-white">ENLATADOS</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/enlatados/atun.jfif" class="card-img-top card-img-top zoom" alt="atun">
                    <div class="card-body">
                        <h5 class="card-title">Atun</h5>
                        <p class="card-text">Descripcion: 220g</p>
                        <p><strong>Precio: $12</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
           
            <div class="col">
                <div class="card h-100">
                    <img  height="200px" src="/assets/categorias/enlatados/chile2.jpg"  alt="chile" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">La costeña rajas</h5>
                        <p class="card-text">Descripcion: 120g</p>
                        <p><strong>Precio: $14</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img  height="200px" src="/assets/categorias/enlatados/frijol.jfif"  alt="frijol la sierra" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">Frijol la sierra</h5>
                        <p class="card-text">Descripcion: 440g</p>
                        <p><strong>Precio: $11</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img   height="200px" src="/assets/categorias/enlatados/elote.jfif"  alt="elotes" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">Herdez Elote</h5>
                        <p class="card-text">Descripcion: 220g</p>
                        <p><strong>Precio: $15</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/enlatados/almibar.jpg"  alt="jabon ace" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">La costeña almibar</h5>
                        <p class="card-text">Descripcion: Durazno 500g</p>
                        <p><strong>Precio: $20</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>