<app-header></app-header>

<div class="cardxd card-bodyxd blur shadow-blur mx-3 mx-md-4 mt-n6">
    <div class="container">
        <div class="py-4">
            <div class="card fondo">
                <h1 class="text-center text-white">DETERGENTES</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/detergente/ariel.jfif" class="card-img-top card-img-top zoom" alt="jabon ariel">
                    <div class="card-body">
                        <h5 class="card-title">Ariel</h5>
                        <p class="card-text">Descripcion: 500g</p>
                        <p><strong>Precio: $15</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
           
            <div class="col">
                <div class="card h-100">
                    <img  height="200px" src="/assets/categorias/detergente/axion.jfif"  alt="jabon axion" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">Axion</h5>
                        <p class="card-text">Descripcion: 1kg</p>
                        <p><strong>Precio: $30</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img  height="200px" src="/assets/categorias/detergente/foca.jfif"  alt="jabon foca" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">Foca</h5>
                        <p class="card-text">Descripcion: 500g</p>
                        <p><strong>Precio: $11</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img   height="200px" src="/assets/categorias/detergente/blanca.jfif"  alt="jabon blanca" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">Blanca Nieves</h5>
                        <p class="card-text">Descripcion: 500g</p>
                        <p><strong>Precio: $12</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/detergente/ace.jfif"  alt="jabon ace" class="card-img-top card-img-top zoom">
                    <div class="card-body">
                        <h5 class="card-title">Ace</h5>
                        <p class="card-text">Descripcion: 500g</p>
                        <p><strong>Precio: $15</strong></p>
                    </div>
                    <div class="card-footer">
                        <a  (click)="verAlert()" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>