<app-header></app-header>


<div class="cardxd card-bodyxd blur shadow-blur mx-3 mx-md-4 mt-n6">
    <div class="container">
        <div class="py-4">
            <div class="card fondo">
                <h1 class="text-center text-white">BEBIDAS</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/bebidas/jumex.jfif" class="card-img-top card-img-top zoom" alt="jumex jugo">
                    <div class="card-body">
                        <h5 class="card-title">Jumex</h5>
                        <p class="card-text">Descripcion: Carton 1lt</p>
                        <p><strong>Precio: $25</strong></p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/bebidas/valle.jfif" class="card-img-top card-img-top zoom" alt="jugo valle">
                    <div class="card-body">
                        <h5 class="card-title">Valle Nectar</h5>
                        <p class="card-text">Descripcion: 1lt</p>
                        <p><strong>Precio: $20</strong></p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/bebidas/bida.jfif" class="card-img-top card-img-top zoom" alt="jugo bida">
                    <div class="card-body">
                        <h5 class="card-title">Bida</h5>
                        <p class="card-text">Descripcion: Carton 1lt</p>
                        <p><strong>Precio: $22</strong></p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img  height="200px" src="/assets/categorias/bebidas/arizona.jfif" class="card-img-top card-img-top zoom" alt="arizona">
                    <div class="card-body">
                        <h5 class="card-title">Arizona</h5>
                        <p class="card-text">Descripcion: Sandia 500ml</p>
                        <p><strong>Precio: $16</strong></p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/bebidas/fuz.jfif" class="card-img-top card-img-top zoom" alt="fuz tea">
                    <div class="card-body">
                        <h5 class="card-title">Fuz Tea</h5>
                        <p class="card-text">Descripcion: Durazno 600ml</p>
                        <p><strong>Precio: $17</strong></p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img height="200px" src="/assets/categorias/bebidas/coca.jfif" class="card-img-top card-img-top zoom" alt="coca cola">
                    <div class="card-body">
                        <h5 class="card-title">Coca Cola</h5>
                        <p class="card-text">Descripcion: 600ml</p>
                        <p><strong>Precio: $15</strong></p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-outline-success w-50 float-end"><i class="bi bi-cart-plus-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<app-footer></app-footer>